<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Game Store Web API!</h1>
                
            </hgroup>
            <p>
                ASP.NET Web API allows you to expose your applications, data and services to the
                web directly over HTTP.
            </p>
            
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        
        <ol class="round">
           

           
            
        </ol>
    </section>
</div>
