<div>
    <h3>User List</h3>
    <input type="button" value="GetAll" onclick="GetAllUsers()" />
    <ul id="users" />
</div>
<div>
    <h3>Search Users by ID</h3>
    <input type="text" id="UserId" size="5" />
    <input type="button" value="Search" onclick="FindUser()" />
    <p id="user" />
</div>
<div>
    <h3>Add User </h3>
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" id="txtFirstName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" id="txtLastName" /></td>
        </tr>
        <tr>
            <td>Email Address</td>
            <td><input type="text" id="txtEmail" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="txtPassword" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="Add" onclick="AddUser()" /></td>
        </tr>
    </table>
</div>

<div>
    <h3>Delete by User by Id</h3>
    <input type="text" id="deleteUser" size="5" />
    <input type="button" value="Delete" onclick="DeleteUser()" />
</div>

<div>
    <h3>Update User </h3>
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" id="txtUId" /></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" id="txtUFirstName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" id="txtULastName" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" id="txtUEmail" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="txtUPassword" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="update" onclick="UpdateUser()" /></td>
        </tr>
    </table>
</div>


    @section scripts{
        <script>

            function GetAllUsers() {
                $.ajax({
                    url: '/API/User',
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('x_cmps383_authentication_key', $.cookie('ApiKey'));
                        xhr.setRequestHeader('x_cmps383-authentication_id', $.cookie('UserId'));
                    },
                    success: function (users) {
                        var list = $('#users');
                        for (var i = 0; i < users.length; i++) {
                            var user = users[i];
                            list.append('<li>' + user.UserId + "   " + user.FirstName + " " + user.LastName + " " + user.Email + '</li>');
                        }
                    },
                    error: function () {
                        alert('Sorry! Error Occured!')
                    },

                });

            }

            function FindUser() {
                var id = $('#UserId').val();
                $.ajax({
                    url: '/API/User/' + id,
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('x_cmps383_authentication_key', $.cookie('ApiKey'));
                        xhr.setRequestHeader('x_cmps383_authentication_id', $.cookie('UserId'));
                    },
                    success: function (result) {
                        $('#user').text(result.FirstName + " " + result.LastName + " " + result.Email);
                        for (var i = 0; i <= result.Roles.Count; i++)
                            $('#user').text(result.Roles);
                    },
                    error: (function (jqXHR, textStatus, err) {
                        $('#user').text('Error: ' + err);
                    })
                });
            }

            function AddUser() {

                var user = {
                    FirstName: $('#txtFirstName').val(),
                    LastName: $('#txtLastName').val(),
                    Email: $('#txtEmail').val(),
                    Password: $('#txtPassword').val(),
                };

                $.ajax({
                    url: '/API/User',
                    type: 'POST',
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('x_cmps383_authentication_key', $.cookie('ApiKey'));
                        xhr.setRequestHeader('x_cmps383_authentication_id', $.cookie('UserId'));
                    },
                    success: function (data) {
                        alert('User added!');
                        GetAllUsers();
                    },
                    error: function () {
                        alert('Sorry! Error Occured!');
                    }
                });
            }

            function DeleteUser() {
                var id = $('#deleteUser').val();
                $.ajax({
                    url: '/API/User/' + id,
                    type: 'DELETE',
                    contentType: 'application/json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('x_cmps383_authentication_key', $.cookie('ApiKey'));
                        xhr.setRequestHeader('x_cmps383_authentication_id', $.cookie('UserId'));
                    },
                    success: function (data) {
                        alert('User deleted');
                        GetAllUsers();
                    },
                    error: function () {
                        alert('User not found');
                    }
                });
            }

            function UpdateUser() {
                var id = $('#txtUId').val();
                var user = {
                    Id: $('#txtUId').val(),
                    FirstName: $('#txtUFirstName').val(),
                    LastName: $('#txtULastName').val(),
                    Email: $('#txtUEmail').val(),
                    Password: $('#txtUEmail').val()
                };

                $.ajax({
                    url: '/API/User/' + id,
                    type: 'PUT',
                    data: JSON.stringify(user),
                    contentType: "application/json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('x_cmps383_authentication_key', $.cookie('ApiKey'));
                        xhr.setRequestHeader('x_cmps383_authentication_id', $.cookie('UserId'));
                    },
                    success: function (data) {
                        alert('Employee updated');
                        GetAllUsers();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('error');
                    }
                });
            }
        </script>
        }